#titulo-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cantidad-producto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-modal{
    width: 300px !important; 
    height: 300px !important;
}