#header-section{
background-image: url(../../assets/img/pared.jpg);
background-size: cover;


}

h1{
    font-family: 'Handlee', sans-serif;
    align-items: center;
}

.info-restaurante{

    font-size: 20px;
}

 @media screen and (max-width:992px){
    .info-restaurante{
        display: none;
    }
} 

