.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-family: italia, sans-serif;
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}


.items-nav{
    color:white !important
}

.items-nav:hover{
 
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}