.footerbeta img{
    height: 160px;
    width: 180px;
}

/* .footerbeta{
    height: 20vh;
    width: 100vw;
    
} */
.copyright{
    justify-content: center;
}
/* .footerbeta, .bg-footer{
    background-color: darkgrey;
} */