
@font-face {
  font-family: 'Italia';
  src: local('Italia'), url(../src/assets/font/Italia.ttf) format('truetype');
}

*{
 font-family: Italia,'Lato', sans-serif;;
}
body{
  box-sizing: border-box;
  padding: 0;
}
.container-admin{width: 100vw; height: 60vh;}
