@import url(//db.onlinewebfonts.com/c/7ee52c70bdf5e2869fec6bf3c8e15711?family=Italia);
*{
 font-family: italia,'Lato', sans-serif;;
}
body{
  box-sizing: border-box;
  padding: 0;
}
.container-admin{width: 100vw; height: 60vh;}
